# PlatformIO
# ----------------------------------------------------------------------
# KiCad temp, cache, and lock files
# ----------------------------------------------------------------------
fp-info-cache
*.lck
*~
~*
_autosave-*
*-bak
*.bck

# ----------------------------------------------------------------------
# KiCad & EasyEDA automated backups
# ----------------------------------------------------------------------
*-backups/
*_backup/

# ----------------------------------------------------------------------
# Arduino / ESP32 / PlatformIO Build artifacts
# ----------------------------------------------------------------------
build/
.pio/
*.bin
*.elf
*.map
*.hex
*.lss
Debug/
Release/

# VS Code
# ----------------------------------------------------------------------
# Excluded folders and OS files
# ----------------------------------------------------------------------
snippets/
attic/
temp/
test/
.vscode/
*.code-workspace
*.zip

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
